

.logo{
     height: 40px;
     width: 40px;    
}
.custom-navbar{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #B6AE9F;
    color:#2E2E2E;
}
.sidebar {
   position:fixed;
   top:64px;
   left:0;
    width: 220px;
    min-height:100vh;
    background-color: #2E2E2E;
    color:#fff;
    overflow-y:auto;
}
.sidebar a:hover {
    background-color: #a79f90;
}
.footer{
    background-color: #000;
}
.footer-text{
    
    color:#fff;
    font-size:14px;
}
.main{
    margin-left:220px;
    padding-top:80px;
    

}
.nav-fixed{
    position: fixed;
    top: 0;
    width: 100%;
    height:64px;
    z-index: 1030;
}
